<!--BBJSBUTTONS-->

<a href="JavaScript:paste_strinL(':)',3,'','','')" rel="nofollow"><img src="{$main_url}/img/smilies/grin.gif" alt=":)" /></a> 
<a href="JavaScript:paste_strinL(';-)',3,'','','')" rel="nofollow"><img src="{$main_url}/img/smilies/wink.gif" alt=";)" /></a> 
<a href="JavaScript:paste_strinL(':-p',3,'','','')" rel="nofollow"><img src="{$main_url}/img/smilies/tongue.gif" alt=":-p" /></a> 
<a href="JavaScript:paste_strinL(':-(',3,'','','')" rel="nofollow"><img src="{$main_url}/img/smilies/sad.gif" alt=":-(" /></a> 

<span class="txtSm"><a href="javascript:PopUp('{$main_url}/{$indexphp}action=displaysmilies',350,350,1);" class="mnblnk">{$l_moreSmilies}</a>&nbsp;<input type="checkbox" name="dissmilies" value="on" />&nbsp;{$l_disableSmilies}</span>
<!--/BBJSBUTTONS-->
